def <%= method_identifier %>(<%= method_args_declaration %>) <%= method_return_type_declaration %>
  <%= method_gi_annotations %>

  <%= handle_method_parameters %>

  <%= method_c_call %>
end

<%= method_splat_overload %>
