---
Language:        Cpp
BasedOnStyle:  WebKit
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: Never
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 125
IndentWidth:     2
IndentWrappedFunctionNames: false
TabWidth:        2
